@media only screen and (min-width: 200px) and  (max-width: 900px ) {
    header, .sidemenu, footer{
        display: none;
    }
    .mobileheader{
        display: flex;
        background: black;
    }
    .headerleft{
    border: none;
    height:60px;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    }
    .headerright{
    border: none;
    height:60px;
    flex-basis: 70%;
    display: flex;
    align-items: center;
    }
    .logo button{
    background: black;
    margin: 10px;
    }
    .headerleft>button{
    background: #292929;
    padding: 0px 10px;
    border-radius: 50px;
    aspect-ratio: 1/1;
    color: white;
    }
    .headerright>button>a{
    padding: 5px 0px;
    }
    .main{
        max-width: 100%;
        flex-basis: 100%;
        height: 80vh;
        margin: 10px;
    }
    .headerright a{
    font-size: 14px;
    font-weight: bold;
    }
    .trending, .artists, .popular{
    padding: 10px;
    }
    .footerlinks{
        flex-direction: column;
        gap: 20px;
    }
    .mobilefooter{
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    background: black;
    position: fixed;
    bottom: 0px;
    justify-content: stretch;
    }
    .mobilefooter>.headerright{
        flex-basis: 100%;
        justify-content: space-between;
    }
}